wordpress:
  wordpressUsername: admin
  wordpressScheme: https
  allowEmptyPassword: false

  image:
    repository: bitnamilegacy/wordpress
    tag: 6.7.1-debian-12-r9

  existingSecret: "wp-ohiovalleyband-usersecrets"

  livenessProbe:
    httpGet:
      httpHeaders:
        - name: X-Forwarded-Proto
          value: https
  readinessProbe:
    httpGet:
      httpHeaders:
        - name: X-Forwarded-Proto
          value: https
  service:
    type: ClusterIP
    
  ingress:
    enabled: true
    ingressClassName: nginx
    hostname: www.ohiovalleyband.org
    annotations:
      { nginx.ingress.kubernetes.io/proxy-body-size: 50M }

  persistence:
    enabled: true
    storageClass: "nfs-client"

  mariadb:
    auth:
      existingSecret: "wp-ohiovalleyband-dbsecrets"
    primary:
      persistence:
        storageClass: "nfs-client"
    image:
      repository: bitnamilegacy/mariadb
      tag: 10.6.11-debian-11-r22
      
global:
  security:
    allowInsecureImages: true