# Default values for home chart
replicaCount: 1

image:
  repository: nginx
  tag: "1.29.5-alpine"
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: www.justinlauck.com
      paths:
        - path: /
          pathType: Prefix
  tls: []

persistence:
  enabled: true
  storageClassName: "nfs-client"
  accessMode: ReadWriteOnce
  size: 1Gi
  mountPath: /usr/share/nginx/html

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
