wordpress:
  wordpressUsername: admin
  wordpressScheme: https
  allowEmptyPassword: false

  image:
    repository: bitnamilegacy/wordpress
    tag: 6.7.1-debian-12-r9

  existingSecret: "wp-htpncc-usersecrets"

  readinessProbe:
    httpGet:
      httpHeaders:
        - name: X-Forwarded-Proto
          value: https

  resources:
    requests:
      cpu: 500m
      memory: 768Mi
    limits:
      cpu: 1024m
      memory: 1536Mi

  service:
    type: ClusterIP

  ingress:
    enabled: true
    ingressClassName: nginx
    hostname: www.htpncc.org
    annotations: { nginx.ingress.kubernetes.io/proxy-body-size: 50M }

  persistence:
    enabled: true
    storageClass: "nfs-client"

  mariadb:
    auth:
      existingSecret: "wp-htpncc-dbsecrets"
    primary:
      persistence:
        storageClass: "nfs-client"
      resources:
        requests:
          cpu: 256m
          memory: 256Mi
        limits:
          cpu: 1024m
          memory: 1024Mi
      livenessProbe:
        initialDelaySeconds: 60
      readinessProbe:
        initialDelaySeconds: 60
    image:
      repository: bitnamilegacy/mariadb
      tag: 10.6.11-debian-11-r22
      
global:
  security:
    allowInsecureImages: true