controllers:
  node-red:
    enabled: true
    containers:
      node-red:
        image:
          repository: ghcr.io/node-red/node-red
          pullPolicy: IfNotPresent
          tag: v4.1.2
        strategy:
          type: Recreate
        env:
          TZ: America/New_York
    type: deployment

service:
  node-red:
    primary: true
    controller: node-red
    ports:
      http:
        primary: true
        port: 1880
        enabled: true
    type: ClusterIP

ingress:
  node-red:
    className: nginx
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/rewrite-target: /
    hosts:
      - host: nodered.lauckserv.net
        paths:
          - path: /
            pathType: Prefix
            service:
              port: http
              identifier: node-red

persistence:
  data:
    enabled: true
    accessMode: ReadWriteMany
    size: 5Gi
    storageClass: nfs-client
    type: persistentVolumeClaim
