controllers:
  rainloop:
    enabled: true
    containers:
      rainloop:
        image:
          repository: hardware/rainloop
          pullPolicy: IfNotPresent
          tag: 1.13.0
        strategy:
        type: Recreate

service:
  rainloop:
    primary: true
    controller: rainloop
    ports:
      http:
        primary: true
        port: 8888
        enabled: true
    type: ClusterIP

ingress:
  rainloop:
    className: nginx
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/rewrite-target: /
    hosts:
      - host: webmail.lauckserv.net
        paths:
          - path: /
            pathType: Prefix
            service:
              port: http
              identifier: rainloop

persistence:
  config:
    enabled: true
    accessMode: ReadWriteMany
    path: /rainloop/data
    size: 1Gi
    storageClass: nfs-client
    type: persistentVolumeClaim
