controllers:
  proget:
    enabled: true
    containers:
      proget:
        image:
          repository: proget.inedo.com/productimages/inedo/proget
          pullPolicy: IfNotPresent
          tag: 22.0.30
        strategy:
        type: Recreate
        envFrom:
          - secretRef:
              name: proget-secrets

service:
  proget:
    primary: true
    controller: proget
    ports:
      http:
        primary: true
        port: 80
        enabled: true
    type: ClusterIP


ingress:
  proget:
    className: nginx
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/rewrite-target: /
      nginx.ingress.kubernetes.io/proxy-body-size: 2048M
    hosts:
      - host: proget.lauckserv.net
        paths:
          - path: /
            pathType: Prefix
            service:
              port: http
              identifier: proget

persistence:
  config:
    enabled: true
    accessMode: ReadWriteMany
    path: /var/proget/packages
    size: 20Gi
    storageClass: nfs-client
    type: persistentVolumeClaim
