wordpress:
  wordpressUsername: admin
  wordpressScheme: https
  allowEmptyPassword: false

  image:
    repository: bitnamilegacy/wordpress
    tag: 6.7.1-debian-12-r9

  existingSecret: "wp-justinlauck-usersecrets"

  readinessProbe:
    httpGet:
      httpHeaders:
        - name: X-Forwarded-Proto
          value: https

  service:
    type: ClusterIP

  ingress:
    enabled: true
    ingressClassName: nginx
    hostname: www.justinlauck.com
    annotations: { nginx.ingress.kubernetes.io/proxy-body-size: 50M }

  persistence:
    enabled: true
    storageClass: "nfs-client"

  mariadb:
    auth:
      existingSecret: "wp-justinlauck-dbsecrets"
    primary:
      persistence:
        storageClass: "nfs-client"
      livenessProbe:
        initialDelaySeconds: 30
      readinessProbe:
        initialDelaySeconds: 30
    image:
      repository: bitnamilegacy/mariadb
      tag: 11.4.4-debian-12-r2

global:
  security:
    allowInsecureImages: true